body {
  background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/stardust.png");
}

.container-fluid {
  text-align: center;
  margin-bottom: 100px;
}

#quote-space {
  margin-top: 50px;
  margin-bottom: 60px;
}

a {
  color: #777;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: #BFBA62;

}

p {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  color: #F23357;
}

#author {
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  font-style: italic;
  color: #BF0B2D;
}

.btn {
  background: #DEE3C3;
  font-family: 'Ubuntu', sans-serif;
  font-style: bold;
  margin-bottom: 25px;
}


.footer p {
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
}

footer a {
  color: #EAF0CE;
}